
@{
    ViewData["Title"] = "Multiple";
}

<h1>Multiple</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="f" multiple value="" />
    <button>Save</button>
</form>

