
@{
    ViewData["Title"] = "CreateCoach";
}

<h1>CreateCoach</h1>

<form method="post">
    <div>
        <label>FullName</label>
        <div>
            <input type="text" name="fullname" value="" />
        </div>
    </div>
    <div>
        <label>Year of Birth</label>
        <div>
            <input type="number" name="yearofbirth" value="" />
        </div>
    </div>
    <div>
        <label>Nationality</label>
        <div>
            <input type="text" name="nationality" value="" />
        </div>
    </div>
    <div>
        <div>
            <button>Save</button>
        </div>
    </div>
</form>
